<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="py-12">Welcome to <%= title %></p>
    <% if (messages.length > 0) { %>
      <% messages.forEach(message => { %>
        <div class="message-container flex flex-col">
          <h3><%= message.text %></h3>
          <p><%= message.user %></p>
          <p><%= message.added.toLocaleString() %></p>
        </div>
      <% }) %>
    <% } else { %>
      <p>There are no messages to display.</p>
    <% } %>
    <div>
      <a href="/new">
        <button>Click here to add new message</button>
      </a>
    </div>
  </body>
</html>
